
# This is a .gitignore file, it specifies patterns of files that
# we don't want to appear in our Git repository. You can read about them
# here: https://git-scm.com/docs/gitignore

# By default, we don't want to include any tools in our repository unless
# they're custom-made for our buildfile. We don't package up anyone
# else's programs.

TOOLS/**

# We don't want to include any files in our output folder.

BIN/**

# We don't want to include our base ROM.

/*.sfc

# We don't want to include any files that only apply to us.

*.sublime-workspace
